<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>UnderbiddingServlet</display-name>
    <servlet-name>UnderbiddingServlet</servlet-name>
    <servlet-class>ru.underbidding.servlets.UnderbiddingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnderbiddingServlet</servlet-name>
    <url-pattern>/underbidding</url-pattern>
  </servlet-mapping>
  <display-name>ru.underbidding</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddArticleAnrexInfo</display-name>
    <servlet-name>AddArticleAnrexInfo</servlet-name>
    <servlet-class>ru.underbidding.servlets.AddArticleAnrexInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArticleAnrexInfo</servlet-name>
    <url-pattern>/addArticleAnrexInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmebelSuServlet</display-name>
    <servlet-name>SmebelSuServlet</servlet-name>
    <servlet-class>ru.underbidding.servlets.SmebelSuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmebelSuServlet</servlet-name>
    <url-pattern>/SmebelSu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationServlet</display-name>
    <servlet-name>InformationServlet</servlet-name>
    <servlet-class>ru.underbidding.servlets.InformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationServlet</servlet-name>
    <url-pattern>/information</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>EkatMebelRuServlet</display-name>
    <servlet-name>EkatMebelRuServlet</servlet-name>
    <servlet-class>ru.underbidding.servlets.EkatMebelRuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EkatMebelRuServlet</servlet-name>
    <url-pattern>/EkatMebelRu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MebellinerRuServlet</display-name>
    <servlet-name>MebellinerRuServlet</servlet-name>
    <servlet-class>ru.underbidding.servlets.MebellinerRuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MebellinerRuServlet</servlet-name>
    <url-pattern>/MebellinerRu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BelsosnaRuServlet</display-name>
    <servlet-name>BelsosnaRuServlet</servlet-name>
    <servlet-class>ru.underbidding.servlets.BelsosnaRuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BelsosnaRuServlet</servlet-name>
    <url-pattern>/BelsosnaRu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MebelluxeComServlet</display-name>
    <servlet-name>MebelluxeComServlet</servlet-name>
    <servlet-class>ru.underbidding.servlets.MebelluxeComServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MebelluxeComServlet</servlet-name>
    <url-pattern>/MebelluxeCom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TechshopRuServlet</display-name>
    <servlet-name>TechshopRuServlet</servlet-name>
    <servlet-class>ru.underbidding.servlets.TechshopRuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TechshopRuServlet</servlet-name>
    <url-pattern>/TechshopRu</url-pattern>
  </servlet-mapping>
</web-app>